<?xml version="1.0" encoding="UTF-8"?>
<error-page>
    <!-- Missing login -->
    <error-code>401</error-code>
    <location>/general-error.html</location>
    <!-- Forbidden directory listing -->
    <error-code>403</error-code>
    <location>/general-error.html</location>
    <!-- Missing resource -->
    <error-code>404</error-code>
    <location>/Error404.html</location>

    <error-code>500</error-code>
    <location>/general-error.html</location>

    <error-code>503</error-code>
    <location>/general-error.html</location>

</error-page>